<script>
    // spinner to indicate page is loading
    document.addEventListener('DOMContentLoaded', function () {
        var loadingSpinner = document.getElementById('loadingSpinner');

        // Show spinner on page load
        window.addEventListener('load', function () {
            loadingSpinner.classList.add('visually-hidden');
        });

        // Show spinner when navigating away (e.g., clicking a link)
        window.addEventListener('beforeunload', function () {
            loadingSpinner.classList.remove('visually-hidden');
        });
    });
</script>  

<script>
    // banner layout toggler
    var toggleLink = document.getElementById('toggleLink');
    toggleLink.addEventListener('click', function (event) {
        event.preventDefault();
        var searchParams = new URLSearchParams(window.location.search);
        var defaultLayout = "vertical";
        var currentLayout = searchParams.get('layout')
        var selectedLayout;
        if (!currentLayout || currentLayout === 'vertical') {
            // Update the href attribute with the modified search string as the target Icon
            searchParams.set("layout", 'horizontal');
            toggleLink.href = window.location.pathname + "?" + searchParams.toString();
            window.location.href = toggleLink.href;  // Navigate to the modified URL
        } else {
            // Update the href attribute with the modified search string as the target Icon
            searchParams.set("layout", 'vertical');
            toggleLink.href = window.location.pathname + "?" + searchParams.toString();
            window.location.href = toggleLink.href;  // Navigate to the modified URL
        }
    });
    // banner theme toggler
    var link = document.getElementById("enable-dark-theme")
    link.addEventListener("click", function (event) {
        event.preventDefault(); // Prevent the link from navigating
        // Get the current search string parameters
        var searchParams = new URLSearchParams(window.location.search);
        // Modify or add the desired parameter
        searchParams.set("theme", "dark");
        // Update the href attribute with the modified search string
        link.href = window.location.pathname + "?" + searchParams.toString();
        // Navigate to the modified URL
        window.location.href = link.href;
    });
    var link = document.getElementById("enable-light-theme")
    link.addEventListener("click", function (event) {
        event.preventDefault(); // Prevent the link from navigating
        // Get the current search string parameters
        var searchParams = new URLSearchParams(window.location.search);
        // Modify or add the desired parameter
        searchParams.set("theme", "light");
        // Update the href attribute with the modified search string
        link.href = window.location.pathname + "?" + searchParams.toString();
        // Navigate to the modified URL
        window.location.href = link.href;
    });   
</script>

<script>
    function renderSystemNotification(data, elementId) {
        // According to the SystemNotification event data, render the notification display in the UI
        const eventDiv = document.createElement('div');
        eventDiv.classList.add('list-group-item');
        eventDiv.innerHTML = `
            <div class="row align-items-center">
                <div class="col-auto"><span class="status-dot status-dot-animated bg-red d-block"></span></div>
                <div class="col text-truncate">
                    <a href="#" class="text-body d-block">${data.title}</a>
                    <div class="d-block text-muted text-truncate mt-n1">
                        ${data.message}
                    </div>
                </div>
                <div class="col-auto">
                    <a href="#" class="list-group-item-actions">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon text-muted" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                            <path d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z"/>
                        </svg>
                    </a>
                </div>
            </div>
        `;
        document.getElementById(elementId).appendChild(eventDiv);
    }
    // Subscribe to the SystemNotification event and render callback function
    subscribeToEvent('SystemNotification', renderSystemNotification);
</script>