  <!-- Specific Page JS goes HERE  -->
  <script>
    // Change the visibility of 'password' Input field
      document.addEventListener('DOMContentLoaded', function() {
        var changeTypeBtn = document.getElementById('show-password');
        var myInput = document.getElementById('password');
  
        changeTypeBtn.addEventListener('click', function(e) {
          e.preventDefault();
  
          var currentType = myInput.type;
          var newType = (currentType === 'text') ? 'password' : 'text';  
          myInput.type = newType;
        });
      });
    </script>